@import "_theme";

.fa-barcode {
  position: fixed;
  font-size: 100px;
  color: $app-main;
  margin: auto;
  // width: 505;
  padding: 10px;
  display: block;
  width: 100%;
  top: 70%;
  left: 47%;

  &:hover {
    color: $app-active;
  }
  &:active {
    color: $app-light;
  }
}
