<div class="main-nav">
  <ul class="nav-ul">
    <li><i class="fa fa-home" aria-hidden="true" ng-click="mainNavCtrl.homeFontAwesome()"></i></li>
    <li class="about" ng-click="mainNavCtrl.aboutFontAwesome()">about</li>
    <a href="https://github.com/sjb3"><li><i class="fa fa-github" aria-hidden="true" ng-click="mainNavCtrl.gitHubFontAwesome()"></i></li></a>
    <a href="https://www.linkedin.com/in/justin-byun-b08779116?trk=hp-identity-photo"><li><i class="fa fa-linkedin-square" aria-hidden="true"></i></li></a>
    <li><i class="fa fa-envelope" aria-hidden="true" ng-controller="EmailNgDialogController as emailNgDialogCtrl" ng-click="emailNgDialogCtrl.openModal()"></i></li>
    <li><i class="fa fa-phone" aria-hidden="true" ng-controller="PhoneNgDialogController as phoneNgDialogCtrl" ng-click="phoneNgDialogCtrl.openModal()"></i></li>
  </ul>
</div>
