@import "_theme";

.main-nav {
  margin-top: 20%;
  margin-left: 30%;
  font-family: 'Caveat Brush', monospace;
}

.nav-ul {
  // margin-top: 300px;
  margin-left: 77px;
  padding: 10px;
  // font-family: monospace;
  font-size: 40px;
  line-height: 50px;
  // white-space:nowrap;
  // -webkit-animation-duration: 3s;
  // -webkit-animation-delay: 2s;
  // -webkit-animation-iteration-count: infinite;
}

.nav-ul li {
  color: $app-main;
  list-style-type: none;
  display: inline;

  &:hover {
    color: $app-active;
    // -vendor-animation-duration: 3s;
    // -vendor-animation-delay: 2s;
    // -vendor-animation-iteration-count: infinite;
  }

  &:active {
    color: $app-light;
  }
}
