<div class="dialog-class">
    <h2> Inside </h2>
      <ul>
        <li> resume/CV </li>
        <li> previous projects at gitHub </li>
        <li> linkedIn Profile </li>
        <li> e-Mail </li>
       <li> phone # </li>
   </ul>
   <button ng-controller="NgDialogController as ngDialogCtrl" ng-click="ngDialogCtrl.leaveButton()" class="btn btn-default">Leave</button>
   <button ng-controller="NgDialogController as ngDialogCtrl" ng-click="ngDialogCtrl.enterButton()" class="btn btn-danger">Enter</button>
 </div>
